.chat-avatar {
    display: flex;
    align-items: center;
}

.bot-img {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
}

.bot-img:hover {
    box-shadow: 0 0 13px yellow;
}